<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto px-3 pt-3 pb-4 bg-white shadow">
      <h1 class="text-center text-primary">All Users</h1>
      <table class="table">
        <thead>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Options</th>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar, alt: "avatar", size: "40", class: 'rounded-circle' %>
              <% else %>
                <%= image_tag "no-user.png", alt: "NO USER", size: "40", class: 'rounded-circle' %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role.name %></td>
            <td>
              <%= link_to 'Edit', edit_user_path(user), class: 'badge badge-pill badge-primary' %>
              <%= link_to 'Delete', user_path(user), method: :delete,
                          data: {confirm: 'Are you destroy this user?'}, class: 'badge badge-pill badge-danger' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>