<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto px-3 pt-3 pb-4 bg-white shadow">
      <h1 class="text-center text-primary">Create your account</h1>
      <hr>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label 'Name:', class: 'text-primary'%>
          <%= f.text_field :name, class: 'form-control border-0 bg-light shadow-sm' %>
          <small class="text-danger">
            <%= @user.errors.messages[:name].first %>
          </small>
        </div>
        <div class="form-group">
          <%= f.label 'Email:', class: 'text-primary' %>
          <%= f.text_field :email, class: 'form-control border-0 bg-light shadow-sm' %>
          <small class="text-danger">
            <%= @user.errors.messages[:email].first %>
          </small>
        </div>
        <div class="form-group">
          <%= f.label 'Password:', class: 'text-primary' %>
          <%= f.password_field :password, class: 'form-control border-0 bg-light shadow-sm' %>
          <small class="text-danger">
            <%= @user.errors.messages[:password].first %>
          </small>
        </div>
        <div class="form-group">
          <%= f.label 'Password confirmation:', class: 'text-primary' %>
          <%= f.password_field :password_confirmation, class: 'form-control border-0 bg-light shadow-sm' %>
          <small class="text-danger">
            <%= @user.errors.messages[:password_confirmation].first %>
          </small>
        </div>
        <%= f.submit "Register me", class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
